.wrapper {
  margin: 20px auto;
}

.itemWrapper {
  display: flex;
  margin-bottom: 20px;
}

.numberList {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50px;
  background-color: #FF6969;
}

.description {
  margin: 0
}