.wrapper {
  width: 270px;
  border: .5px solid #535353;
  border-radius: 10px;
}

.image {
  width: 270px;
  height: 228px;
  border-radius: 10px 10px 0 0;
}

.titleWrapper {
  padding: 15px
}

.subtitle {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0
  }
}

.divider {
  margin: 15px auto;
  border: none;
  height: .5px;
  background-color: #535353;
}